<div *ngFor="let currentPost of (posts | async)">
  <div class="w3-row-padding w3-card w3-border w3-sand w3-animate-zoom w3-margin-top">
    <span class="w3-left w3-margin-bottom">
      <app-edit-post
        [selectedPost]="currentPost"
        (clickedDone)="editPost($event)"
      ></app-edit-post
    ></span>
    <br />
    <div class="w3-container w3-padding">
      <div class="panel panel-primary">
        <h2 class="w3-block w3-border w3-yellow w3-margin-bottom">
          Blog# <span class="w3-right">{{ currentPost.idCount }}</span>
        </h2>
        <h2>{{ currentPost.description }}</h2>
        <br /><br />
        <hr />
        <h3>Feeling- {{ currentPost.feeling }}</h3>
      </div>
    </div>
  </div>
</div>
