<div class="w3-col m2">
  <div class="w3-card w3-round w3-khaki w3-center">
    <div class="w3-container">
      <p style="text-decoration-line: underline;" class="w3-text-red w3-medium w3-margin-top">Events in Seattle:</p>
      <form id='searchForm'>
        <div class="form-group">
          <label for="city">Search by City</label>
          <input class="form-control" name="city" id="city" type="text" required>
        </div>
        <button type="submit" class="btn btn-danger">Search</button>
      </form>
      <span id="displayEvent" class="w3-block w3-theme-l4"><b>Infos:</b></span>
    </div>
  </div>
  <div class='showErrors'></div>
</div>

<script>
$(document).ready(function () {
    $('#searchForm').submit(function(event) {
        event.preventDefault();
        let searchCity = $('#city').val();
        let allEvents = new Event();
        let promise = allEvents.getEventByCity(searchCity);
    
        promise.then(function (response) {
            let body = JSON.parse(response);
            console.log(body);
            
            $('#displayEvent').text(`Events in ${searchCity}:`);
            for (let i = 0; i < body._embedded.events.length; i++) {
                $('#displayEvent').append(`<br>${body._embedded.events[i].name}`);
                $('#displayEvent').append(`--- Date: ${body._embedded.events[i].dates.start.localDate}`);
            }
        }, function (error) {
            $('.showErrors').text(`There was an error processing your request: ${error.message}`);
    
        });
    });
});
</script>