<div class="w3-col m2">
  <div class="w3-card w3-round w3-khaki w3-center">
    <div class="w3-container">
      <p style="text-decoration-line: underline;" class="w3-text-red w3-medium w3-margin-top">Events in Seattle:</p>
      <form id='searchForm'>
        <div class="form-group">
          <label for="city">Search by City</label>
          <input class="form-control" name="city" id="city" type="text" required>
        </div>
        <button class="btn btn-danger">Search</button>
      </form>
      <hr>
      <span id="displayEvent" class="w3-block w3-theme-l4"><b>Infos:</b></span>
    </div>
  </div>