<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3 w3-margin-right">
      <!-- Profile -->
      <div class="w3-card w3-round w3-pale-blue">
        <div class="w3-container">
          <h4 class="w3-center w3-text-orange"><b>Markeezy</b></h4>
          <p class="w3-center">
            <img
              src=".././assets/img/avatar.jpg"
              class="w3-circle"
              style="height:200px;width:200px"
              alt="Avatar"
            />
          </p>
          <hr />
          <h3 class="w3-text-teal">
            <i class="fas fa-briefcase w3-margin-right w3-margin-bottom"></i>
            Web Developer
          </h3>
          <p>
            <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i
            >Seattle, WA
          </p>
        </div>
      </div>
      <br />
      <br />
      <!-- Interests -->
      <div class="w3-card w3-round w3-pale-blue">
        <div class="w3-container">
          <br />
          <p class="w3-text-pink w3-medium"><b>Interests</b></p>
          <hr />
          <p>
            <span class="w3-medium ">
              <i class="fas fa-utensils w3-text-brown w3-margin-right"></i
              ><b class="w3-text-black ">Food</b> <br />
              <i class="fas fa-plane w3-text-yellow w3-margin-right"></i
              ><b class="w3-text-black">Travel</b> <br />
              <i class="fas fa-dog w3-text-orange w3-margin-right"></i
              ><b class="w3-text-black">Dogs</b> <br />
              <i class="fas fa-music w3-margin-right w3-text-blue"></i
              ><b>Music</b> <br />
              <i class="fas fa-laptop w3-margin-right"></i
              ><b class="w3-text-whitey"> Coding</b></span
            >
          </p>
        </div>
      </div>
      <br />
      <br />
      <!-- Accordion -->
      <div class="w3-card w3-medium w3-center">
        <div class="w3-content">
          <button
            style="width: 100%"
            onclick="myFunction('Demo1')"
            class="w3-theme-l1 w3-center-align w3-pale-blue w3-text-green"
          >
            <i class="fa fa-users fa-fw"></i> My Links
          </button>
          <div id="Demo1" class="w3-hide w3-container w3-pale-blue">
            <br />
            <a href="https://github.com/moliver05"
              ><i class="fab fa-github w3-text-black w3-margin-right"></i
              ><b class="w3-text-black">GITHUB</b></a
            >
            <hr />
            <a href="https://www.linkedin.com/in/markmangahas/"
              ><i class="fab fa-linkedin w3-text-grey w3-margin-right"></i
              ><b class="w3-text-grey">LINKED IN</b></a
            >
            <hr />
            <a href="https://www.facebook.com/profile.php?id=100028068129999"
              ><i class="fab fa-facebook w3-text-blue w3-margin-right "></i
              ><b class="w3-text-blue">FACEBOOK</b></a
            >
          </div>
        </div>
      </div>
      <br />

      <!-- End Left Column -->
    </div>

    <!-- POST SECTION -->
    <div class="w3-col m6 w3-row w3-margin-bottom w3-margin-right">
      <div class="w3-card w3-round w3-sand">
        <div class="w3-container w3-padding">
          <h2 class="w3-text-black">
            <i class="far fa-smile-beam w3-margin-bottom"></i
            ><b>Express Yourself</b>
          </h2>
          <label class="w3-margin-bottom w3-margin-right" for="Number"
            >Blog#</label
          >
          <input class="w3-round" style="height: 25px;" placeholder="Date" #newCount /> 
          <br>
          <label for="Describe">What's Gucci?</label>
          <textarea
            class="w3-round"
            style="width: 100%; height: 100px; font-size:20px;"
            placeholder=" Free your thoughts!"
            #newDescription
          ></textarea>
          <br />
          <label for="Feeling"
            >Any Feelings Involved? <i class="far fa-smile-beam"></i
          ></label>
          <textarea
            placeholder="Express Yourself!"
            class="w3-round w3-margin-bottom"
            style="width: 100%; height: 25px; font-size: 15px;"
            #newFeeling
          ></textarea>
          <button
            (click)="
              submitPost(
                newDescription.value,
                newFeeling.value,
                newCount.value
              );
              newDescription.value = '';
              newFeeling.value = '';
              newCount.value = ''
            "
          >
            <i class="fa fa-pencil-alt"></i> POST
          </button>
        </div>
      </div>
      <br>
      <!--  -->
      <app-post (clickPost)="editPost($event)"></app-post>
    </div>

<!-- Event PAge  -->
    <app-event></app-event>
    <!-- End Page Container -->
  </div>

  <br />

</div>
