<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-pale-blue">
        <div class="w3-container">
         <h4 class="w3-center w3-text-orange"><b>Markeezy</b></h4>
         <p class="w3-center"><img src=".././assets/img/avatar.jpg" class="w3-circle" style="height:200px;width:200px" alt="Avatar"></p>
         <hr>
         <h3 class="w3-text-teal"><i class="fas fa-briefcase w3-margin-right w3-margin-bottom"></i> Web Developer</h3>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>Seattle, WA </p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <!-- Interests --> 
      <div class="w3-card w3-round w3-pale-blue">
        <div class="w3-container"> <br>
          <p class="w3-text-pink w3-medium"><b>Interests</b></p>
          <hr>
          <p>
            <span class="w3-medium ">
                <i class="fas fa-utensils w3-text-brown w3-margin-right"></i><b class="w3-text-black ">Food</b>  <br>
                <i class="fas fa-plane w3-text-yellow w3-margin-right"></i><b class="w3-text-black">Travel</b>  <br>
                <i class="fas fa-dog w3-text-orange w3-margin-right"></i><b class="w3-text-black">Dogs</b> <br>
                <i class="fas fa-music w3-margin-right w3-text-blue"></i><b>Music</b> <br>
                <i class="fas fa-laptop w3-margin-right"></i><b class="w3-text-whitey"> Coding</b></span>
          </p>
        </div>
      </div>
      <br>
      <br>
      <br>
        <!-- Accordion -->
        <div class="w3-card w3-medium w3-center">
          <div class="w3-content">
            <button style="width: 100%" onclick="myFunction('Demo1')" class="w3-theme-l1 w3-center-align w3-pale-blue w3-text-green"><i class="fa fa-users fa-fw"></i> My Links</button>
            <div id="Demo1" class="w3-hide w3-container">
              <br>
              <a href="https://github.com/moliver05"><i class="fab fa-github w3-text-black w3-margin-right"></i><b class="w3-text-black">GITHUB</b></a> <hr>
              <a href="https://www.linkedin.com/in/markmangahas/"><i class="fab fa-linkedin w3-text-white w3-margin-right"></i><b class="w3-text-white">LINKED IN</b></a> <hr>
              <a href="https://www.facebook.com/profile.php?id=100028068129999"><i class="fab fa-facebook w3-text-blue w3-margin-right "></i><b class="w3-text-blue">FACEBOOK</b></a>
            </div>
          </div>      
        </div>
        <br>
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-sand">
            <div class="w3-container w3-padding">
              <input type="text" class="w3-border w3-padding"><p>INPUT POSTS HERE</p>
              <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i> POST EVENT EMIT HERE</button> 
            </div>
          </div>
        </div>
      </div>
      <br> 

      <app-comment-like></app-comment-like>
      <!-- End Middle Column -->
    </div>
    

    
    <!-- EVENTS -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-khaki w3-center">
        <div class="w3-container">
          <p style="text-decoration-line: underline;" class="w3-text-red w3-medium w3-margin-top">Events in Seattle:</p>
          <p class="w3-block w3-theme-l4"><b>Infos:</b></p>
        </div>
      </div>
      <br>
    </div>
    
  <!-- End Grid -->
  </div>

<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
  <h5>Footer</h5>
</footer>

<footer class="w3-container w3-theme-d5">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
 
<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } else { 
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>


