<div class="w3-main w3-container" style="margin-top:83px; justify-content: space-around">
  <!-- Photo grid -->
  <div class="w3-row-padding w3-grayscale-min w3-margin-bottom w3-animate-zoom">
    <div class="w3-quarter">
      <img src=".././assets/img/pic1.jpg" onclick="onClick(this)" alt="test" />
      <img src=".././assets/img/pic2.jpg" onclick="onClick(this)" alt="" />
      <img src=".././assets/img/pic3.jpg" onclick="onClick(this)" alt="" />
    </div>

    <div class="w3-quarter">
      <img src=".././assets/img/pic4.jpg" onclick="onClick(this)" alt="" />
      <img src=".././assets/img/pic5.jpg" onclick="onClick(this)" alt="" />
      <img src=".././assets/img/pic6.jpg" onclick="onClick(this)" alt="" />
    </div>

    <div class="w3-quarter">
      <img src=".././assets/img/pic7.jpg" onclick="onClick(this)" alt="test" />
      <img src=".././assets/img/pic8.jpg" onclick="onClick(this)" alt="" />
      <img src=".././assets/img/pic9.jpg" onclick="onClick(this)" alt="" />
    </div>

    <div class="w3-quarter">
      <img src=".././assets/img/pic10.jpg" onclick="onClick(this)" alt="" />
      <img src=".././assets/img/pic11.jpg" onclick="onClick(this)" alt="" />
      <img src=".././assets/img/pic13.jpg" onclick="onClick(this)" alt="" />
    </div>
  </div>

  <!-- Modal for full size images on click -->
  <div
    id="modal01"
    class="w3-modal w3-black"
    onclick="this.style.display='none'"
  >
    <span class="w3-button w3-black w3-xlarge w3-display-topright">X</span>
    <div
      class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64"
    >
      <img  style="height: 100%;" id="img01" class="w3-image" />
      <p id="caption"></p>
    </div>
  </div>
</div>

<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Raleway", sans-serif;
  }
  .w3-quarter img {
    margin-bottom: 10px;
    cursor: pointer;
  }
  .w3-quarter img:hover {
    opacity: 0.6;
    transition: 0.3s;
  }
</style>
